'context-menu':
  'atom-text-editor': [
    {
      'label': 'Devunity'
      'submenu':[
        {'label':'Start session on this file', 'command': 'devunity:start' }
        {'type': 'separator'}
        {'label':'Stop session on this file','command': 'devunity:stop'}
      ]

    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Devunity'
      'submenu': [
        {'label':'Start on current selected file', 'command': 'devunity:start' }
        {'type': 'separator'}
        {'label':'Stop on current selected file','command': 'devunity:stop'}
        {'type': 'separator'}
        {'label':'Stop all sessions','command': 'devunity:stopAll'}
        #{'type': 'separator'}
        #{'label':'Start live codecasting','command': 'devunity:startLive'}
        #{'label':'Stop live codecasting','command': 'devunity:stopLive'}

      ]
    ]
  }
]
