.chatinput {
  background: transparent;
  color: white;
  border: 1px solid rgba(255,255,255,0.5);
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 295px;
}

.chatbutton {

    font-size: 15px;
    border-radius: 5px;
    margin-left: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    padding: 5px;

}

.chatitemwrapper {
  padding:10px;border-bottom:1px solid rgba(239,68,35,0.2);font-size:12px;height:39px;
}
.colabdetailsrow {
  padding:10px;
  border-bottom:1px solid rgba(239,68,35,0.5) ;
  font-size:12px;
  height:39px;
}
.devunitypanel {
  max-width:100% !important;
}
.devunitybox {
  max-width:100% !important;
  cursor:pointer;
}
.readonly {
  cursor:pointer;margin-right:4px;font-size:10px;
}
.stopcollab {
  cursor:pointer;color:#ef4423;
}
.details {
  margin-right:5px;
  cursor:pointer;
}
.openchattext {
  cursor:pointer;
  margin-right:5px;
  color:#e57853;
}
.chatcancel {
  cursor:pointer;
  font-size: 15px;
  padding:5px
}
.devunitychatbox {
  padding:10px;
}
.sendchattext {
  font-size:12px;
  margin-bottom:10px;
  margin-top:10px;
}
.justatest {
  position: absolute;
  background-color: red;
  border-left: 2px solid #e4b3ff;
  background:red;
  z-index:1;
}
.detailsclose {
  cursor:pointer;
  float:right;
}
.floatright {
float:right
}
